<div class="modal" id="loginModal" style="margin-top: 5em;">
    <div class="modal-content">
        <form action="/adminReg" method="post" enctype="multipart/form-data" class="register_goods">
            <h2 style="margin: 0 auto;">Login</h2>
            <input type="text" name="email" placeholder="EMAIL" id="">        
            <input type="password" name="password" placeholder="*********" id="">
            <button type="submit" id="form_btn" class="bg-success" onclick="login()">LOG IN</button>
        </form>
    </div>
</div>