<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="notfound content">
        <h2 style="margin-bottom: 40px; ">OOPS, Page Not Found</h2>
        <p><h3 style="text-transform: capitalize; margin-bottom: 8px;"><a href="/">Go Back Home</a></h3></p>
    </div>    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>