<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="slide">
        <marquee behavior="" direction="">
            <p>YOUR LOGISTICS PARTNER IN EVERY MOVE!  <span>YOUR LOGISTICS PARTNER IN EVERY MOVE!</span> </p>
        </marquee>
    </div>

    <div class="mainContent">
        <form action="/adminReg" method="post" enctype="multipart/form-data" class="register_goods">
            <h4 style="margin: 0 auto; text-decoration: underline;">PASSWORD RESET</h4>

            <div>
                <h3><%=messages%></h3>
            </div>
            
            <input type="text" name="firstName" placeholder="FIRST NAME" id="">
            <input type="text" name="secondName" placeholder="SECOND NAME" id="">
            <input type="text" name="email" placeholder="EMAIL" id="">
            <input type="text" name="phoneNo" placeholder="PHONE NO." id="">
            <input type="text" name="branch" placeholder="BRANCH" id="">       
           <div class="password-wrapper">
                <input type="password" name="password" placeholder="*********" id="password">
                <span id="togglePassword" class="toggle-password">👁</span>
            </div>
            <input type="file" name="image" id="fileUpload">
            <button type="submit" id="form_btn" class="bg-success">SEND</button>
        </form>
        <p>Already a member? click <a href="" onclick="ShowLoginModal">HERE!</a></p>          
    </div>
    
    
    <%- include('./partials/footer.ejs') %>

    <script>
        const passwordInput = document.getElementById('password');
        const togglePassword = document.getElementById('togglePassword');

        togglePassword.addEventListener('click', ()=> {
            if (passwordInput.type === "password") {
                password.type = 'text'
            } else {
                passwordInput.type = "password"
            }
        })
    </script>
</body>
</html>