<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="slide">
        <marquee behavior="" direction="">
            <p>YOUR LOGISTICS PARTNER IN EVERY MOVE!  <span>YOUR LOGISTICS PARTNER IN EVERY MOVE!</span> </p>
        </marquee>
    </div>

    <div>
        <form action="/adminReg" method="post" enctype="multipart/form-data" class="register_goods">
            <input type="text" name="firstName" placeholder="FIRST NAME" id="">
            <input type="text" name="secondName" placeholder="SECOND NAME" id="">
            <input type="text" name="email" placeholder="EMAIL" id="">
            <input type="text" name="phoneNo" placeholder="PHONE NO." id="">
            <input type="text" name="branch" placeholder="BRANCH" id="">       
            <input type="password" name="password" placeholder="*********" id="">
            <input type="file" name="image" id="fileUpload">
            <button type="submit" id="form_btn" class="bg-success">SEND</button>
        </form>
        <p>Already a member? click <a href="" onclick="ShowLoginModal">HERE!</a></p>          
    </div>

    <%- include('./partials/signin.ejs') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>