<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="hero">
        <p class="hero-text">YOUR LOGISTICS PARTNER</p>
        <p class="text-bg-success">IN EVERY MOVE!</p>
    </div>

    <section class="shipment">
        <div>
            <a href="/track"> Track your parcel </a>
        </div>
    </section>

    <%- include('./partials/signin.ejs') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>