<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="slide">
        <marquee behavior="" direction="">
            <p>YOUR LOGISTICS PARTNER IN EVERY MOVE!  <span>YOUR LOGISTICS PARTNER IN EVERY MOVE!</span> </p>
        </marquee>
    </div>

    <div id="mainContent" class="">
        <form action="/workers" method="post" enctype="multipart/form-data" class="register_goods">
            <input type="text" name="firstName" placeholder="FIRST NAME" id="">
            <input type="text" name="secondName" placeholder="SECOND NAME" id="">
            <input type="text" name="email" placeholder="EMAIL OF WORKER" id="">
            <input type="text" name="phoneNo" placeholder="PHONE NO." id="">
            <input type="text" name="branch" placeholder="BRANCH" id="">      
            <input type="password" name="password" placeholder="*********" id="">
            <input type="file" name="image" id="fileUpload">
            <button type="submit" id="form_btn" class="bg-success">SIGN UP</button>
        </form>
        <p style="text-align: center;">Already a member? click <a href="" onclick="showLoginModal()">HERE!</a></p>
              
    </div>

    <%- include('./partials/signin.ejs') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

    <script>
        function showLoginModal() {
            event.preventDefault();
            document.getElementById("loginModal").style.display = "block";
            document.getElementById("mainContent").classList.add("blur");
        }

        function closeLoginModal() {
            document.getElementById("loginModal").style.display = "none";
            document.getElementById("mainContent").classList.remove("blur");
        }

        window.onclick = function(event) {
            const modal = document.getElementById("loginModal");
            if(event.target === modal) {closeLoginModal()};
        }

    </script>
</body>
</html>