<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="hero">
        <form class="track bg-success" role="search" action="/search" method="GET">
            <label for="track">TRACK MY PARCEL:</label>
            <div id="track">
                <input class="form-control me-2" style="width: 70%;" type="search" name="q" placeholder="Search" value="<%= q ? q : '' %>" aria-label="Search"/>
                <button class="btn btn-outline-dark" type="submit">TRACK</button>
            </div>
            
        </form>
    </div>  
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>